<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    <%= page_sub_header I18n.t!('devise.account_activation') %>
    </h3>
  </div>
  <div class="panel-body">
    
    <%= form_for resource, as: resource_name, url: iporaitech_users.update_user_confirmation_path, html: { method: 'patch', role: "form" },
    id: 'activation-form' do |f| %>
    <%= devise_custom_error_messages!(resource) %>
    
    
    <% if @requires_password %>
    <div class="form-group">
      <%= f.label :password, I18n.t!("users.confirmations.show.choose_password") %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, I18n.t!("users.confirmations.show.password_confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <% end %>
    
    <%= hidden_field_tag :confirmation_token, @confirmation_token %>
    <div style="text-align:center;">
      <%= f.submit I18n.t!("users.confirmations.show.activate"), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>