<% content_for(:page_header) do
  concat(page_header( t( '.title', resource: resource_class.model_name.human ) ))
end %>

<%= form_for(resource, :as => resource_name, :url => iporaitech_users.user_registration_path, :html => { :method => :put, role: 'form' }) do |f| %>
  <%= devise_custom_error_messages!(resource) %>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, id: :first_name, class: 'form-control', placeholder: t('activerecord.attributes.user.first_name') %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, id: :last_name, class: 'form-control', placeholder: t('activerecord.attributes.user.last_name') %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
    <p>
      <%= t('.currently_waiting_confirmation_for_email', :email => resource.unconfirmed_email, :default => "Currently waiting confirmation for: %{email}") %>
    </p>
  <%- end -%>

  <div class="form-group">
    <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
    <%= f.password_field :password, :autocomplete => "off", class: 'form-control' %>
  </div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: 'form-control' %></div>

  <div class="form-group"><%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i><br />
  <%= f.password_field :current_password, class: 'form-control' %></div>

  <div class="actions">
    <%= f.submit t('.update', :default => "Update"), class: 'btn btn-primary' %>
    <%= link_to t('devise.shared.links.back', :default => "Back"), :back, class: 'btn btn-default' %>
  </div>

<% end %>

<% if devise_mapping.registerable? %>
  <h3><%= t('.cancel_my_account', :default => 'Cancel my account') %></h3>
  <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), 
  iporaitech_users.user_registration_path, 
  :data => { :confirm => t('.confirm', :default => t("views.titles.are_you_sure")), ok: t("views.confirm"), 
                        title: t("helpers.confirm_dialog.iporaitech_user.delete.title"),
                        cancel: t("helpers.links.cancel")  },
   :method => :delete, class: 'btn btn-danger' %></p>
<% end %>