<div class="signup-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
    <%=  t('.sign_up', :default => "Sign up") %>
    </h3>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => iporaitech_users.user_registration_path, html: { role: 'form', id: "new_registration_form" }) do |f| %>
    <%= devise_custom_error_messages!(resource) %>
    <div class="form-group">
      <%= f.text_field :first_name, id: :first_name, class: 'form-control', placeholder: t('activerecord.attributes.user.first_name') %>
    </div>
    <div class="form-group">
      <%= f.text_field :last_name, id: :last_name, class: 'form-control', placeholder: t('activerecord.attributes.user.last_name') %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: t('activerecord.attributes.user.email'), id: "email" %>
    </div>
    
    <div><%= f.submit t('.sign_up', :default => "Sign up"), class: 'btn  btn-primary btn-lg btn-block new_registration' %></div>
    
    <% end %>
    <br/>
    <%= render(partial: "devise/shared/links", locals: { resource_name: resource_name, devise_mapping: devise_mapping }) %>
  </div>
</div>
