<!DOCTYPE html>
<html>
<head>
  <title>IporaitechUsers</title>
  <%= stylesheet_link_tag    "iporaitech_users/application", media: "all" %>
  <%= javascript_include_tag "iporaitech_users/application" %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= bootstrap_flash %>
          <% unless controller.devise_controller? %>
            <%= render_breadcrumbs %>
          <% end %>
          <%= yield %>
        </div>

    </div> <!-- /container -->

  </body>
</html>
