<!DOCTYPE html>
<html>
  <head>
    <title>IporaitechUsers</title>
    <%= stylesheet_link_tag    "iporaitech_users/application", media: "all" %>
    <%= javascript_include_tag "iporaitech_users/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="">
    <div class="container ">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="">
                    <a href="/" >
                      <%= t("views.iporaitech_users.home") %>
                    </a>
                  </li>
                </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
            <div class=" vertical-center">
              <div class="col-lg-6 col-md-offset-3">
                <%= bootstrap_flash %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
        </div> <!-- /container -->
      </body>
    </html>