<%= bootstrap_form_for(@user, as: :user, url: (@user.id.present? ? admin_user_path(@user) : admin_users_path), html: {role: 'form'}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                <%= I18n.t!('views.errors.messages.form_validation') %>
                </h3>
                <div class="panel-body">
                    <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    <% end %>
    
    <div class="form-group">
        <%= f.text_field :email, id: :email, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.text_field :first_name, id: :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.text_field :last_name, id: :last_name, class: 'form-control' %>
    </div>

    <% if can?(:change_roles, @user) %>
        <%= field_set_tag I18n.t!('activerecord.attributes.user.roles').titleize do %>
            <%= f.fields_for :roles do | v | %>
                <% ::Iporaitech::User.valid_roles.each do | role | %>
                    <div class="col-xs-4">
                        <%= v.check_box(role, { label: t("activerecord.attributes.roles.#{role}").capitalize, checked: @user.has_role?(role) }, "true", nil) %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <br/>
    <% end %>

    <div class="actions">
        <% if can?(:update, @user) %>
            <%= f.submit I18n.t!("views.submit.#{action}", entity: I18n.t!("activerecord.models.user.one")), class: "btn  btn-primary" %>
        <% end %>
        <% if can?(:read, ::Iporaitech::User) %>
            <%= link_to I18n.t!('.cancel', default: I18n.t!("helpers.links.cancel")), admin_users_path, class: 'btn btn-default' %>
        <% else %>
            <%= link_to I18n.t!('.cancel', default: I18n.t!("helpers.links.cancel")), main_app.root_path, class: 'btn btn-default' %>
        <% end %>
    </div>
<% end %>