<%- model_class = ::Iporaitech::User -%>
<% content_for(:page_header) do
  concat(page_header(t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize))
end %>


<%= render 'form', action: :update %>
