<% content_for(:page_header) do
concat(page_header I18n.t!('views.titles.index', entity: I18n.t!('activerecord.models.user.other')).capitalize)
end %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row" style="margin-bottom: -15px;">
          <div class="col-lg-12">
            
            <div class="col-lg-10">
              <%= panel_heading_search_form_for(@query, admin_users_path, :email, :first_name, :last_name) %>
            </div>
            <div class="col-lg-2">
              <% if can?(:create, ::IporaitechUsers::User) %>
                <%= link_to t("views.titles.new", entity: t("activerecord.models.user.one")).capitalize,
                new_admin_user_path,
                :class => 'btn btn-primary', style: 'margin-bottom: 14px' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="listing_users" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th colspan="5"></th>
                <th class="actions" colspan="3"><%=t '.actions', :default => t("helpers.actions").capitalize %></th>
              </tr>
              <tr>
                <th><%= I18n.t!('activerecord.attributes.user.email').capitalize %></th>
                <th><%= I18n.t!('activerecord.attributes.user.first_name').capitalize %></th>
                <th><%= I18n.t!('activerecord.attributes.user.last_name').capitalize %></th>
                <th><%= I18n.t!('activerecord.attributes.user.roles').capitalize %></th>
                <th><%= I18n.t!('activerecord.attributes.user.created_at').capitalize %></th>
                <th class="actions"><%= I18n.t!('views.table.actions.edit').capitalize %></th>
                <th class="actions"><%= I18n.t!('views.table.actions.show').capitalize %></th>
                <th class="actions"><%= I18n.t!('views.table.actions.destroy').capitalize %></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td class="email"><%= user.email %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= show_roles(user) %></td>
                <td><%= show_date(user.created_at) %></td>
                <td class="actions">
                  <% if can?(:edit, user) %>
                    <%= link_to edit_admin_user_path(user), :class => 'edit-link', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
                      <%= fa_icon 'edit' %>
                    <%- end -%>
                  <% end %>
                </td>
                <td class="actions">
                  <% if can?(:show, user) %>
                    <%= link_to admin_user_path(user), :class => '', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
                      <%= fa_icon 'eye' %>
                    <%- end -%>
                  <% end %>
                </td>
                <td class="actions">
                  <% if can?(:destroy, user) %>
                    <%= link_to(admin_user_path(user), method: :delete, data: { 
                      confirm: t("helpers.confirm_dialog.iporaitech_user.delete.body", email: user.email), 
                      ok: t("views.confirm"), 
                      title: t("helpers.confirm_dialog.iporaitech_user.delete.title"),
                      cancel: t("helpers.links.cancel") }) do %>
                      <%= fa_icon 'trash' %>
                    <%- end -%>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% if @users.total_pages > 1 %>
        <div class="panel-footer">
          <div class="row" style="margin: -20px;">
            <div class="col-lg-12">
              <div class="pull-right">
                <%= will_paginate @users %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>