<%- model_class = IporaitechUsers::User -%>
<% content_for(:page_header) do
  concat(page_header(t '.title', :default => model_class.model_name.human.titleize))
end %>

<div class="fieldset">
  <dl>
      
      <dt class="label label-default"><%= model_class.human_attribute_name(:first_name) %></dt>
      <dd><pre class="prettyprint"><%= @user.first_name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:last_name) %></dt>
      <dd><pre class="prettyprint"><%= @user.last_name %></pre></dd>
      <dt class="label label-default"><%= I18n.t!('activerecord.attributes.user.roles').titleize %></dt>
      <dd><pre class="prettyprint"><%= show_roles(@user) %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:email) %></dt>
      <dd><pre class="prettyprint"><%= @user.email %></pre></dd>

      <dt class="label label-default"><%= model_class.human_attribute_name(:created_at) %></dt>
      <dd><pre class="prettyprint"><%= show_date(@user.created_at) %></pre></dd>

      <dt class="label label-default"><%= model_class.human_attribute_name(:reset_password_sent_at) %></dt>
      <dd><pre class="prettyprint"><%= show_date(@user.reset_password_sent_at) %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:current_sign_in_at) %></dt>
      <dd><pre class="prettyprint"><%= show_date(@user.current_sign_in_at) %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:last_sign_in_at) %></dt>
      <dd><pre class="prettyprint"><%= show_date(@user.last_sign_in_at) %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:current_sign_in_ip) %></dt>
      <dd><pre class="prettyprint"><%= @user.current_sign_in_ip %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:last_sign_in_ip) %></dt>
      <dd><pre class="prettyprint"><%= @user.last_sign_in_ip %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:confirmed_at) %></dt>
      <dd><pre class="prettyprint"><%= show_date(@user.confirmed_at) %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:confirmation_sent_at) %></dt>
      <dd><pre class="prettyprint"><%= show_date(@user.confirmation_sent_at) %></pre></dd>

      <% if Devise::reconfirmable %>
        <dt class="label label-default"><%= model_class.human_attribute_name(:unconfirmed_email) %></dt>
        <dd><pre class="prettyprint"><%= @user.unconfirmed_email %></pre></dd>
      <% end %>
      
  </dl>
</div>

<div class="form-group">
<% if can?(:index, ::IporaitechUsers::User) %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_users_path, :class => 'btn btn-default'  %>
<% else %>
    <%= link_to I18n.t!('.back', default: I18n.t!("helpers.links.back")), main_app.root_path, class: 'btn btn-default' %>
<% end %>
<% if can?(:edit, @user) %>            
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_user_path(@user), :class => 'btn btn-default' %>
<% end %>
<% if can?(:destroy, @user) %>                 
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("views.titles.are_you_sure")),ok: t("views.confirm"), 
                      title: t("helpers.confirm_dialog.iporaitech_user.delete.title"),
                      cancel: t("helpers.links.cancel")  },
              :class => 'btn btn-danger' %>
<% end %>              
</div>