/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  width: 100%;
  margin-top:-40px;
}
